<style>

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(imgs/bg1.jpg);
	}
	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url(imgs/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(imgs/bg4.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}


	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(imgs/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(imgs/bg5.jpg);
		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}
	</style>



<div id="fullpage">
	<div class="section" style="background-image: url(static/img/bg1.jpg);" ><h1>Some section1</h1>
        </div>
	<div class="section">Some section2</div>
	<div class="section">Some section3</div>
	<div class="section">Some section4</div>
</div>

