<div class="gray-bg">
	<div class="middle-box text-center loginscreen  animated fadeInDown">
		<div>
			<div>

				<h1 class="logo-name">M</h1>

			</div>
			<h3>欢迎使用摩尔衣橱</h3>

			<form class="m-t" role="form">
				<div class="form-group">
					<input type="email" class="form-control form login" placeholder="用户名(邮箱格式)" varname="uname" varvalue="value"/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control form login" placeholder="密码(大于8个字符)" varname="upass" varvalue="value"/>
				</div>
				<div class="form-group">
					<input type="text" class="form-control form login" placeholder="验证码" id="vericodetext" varname="vericode" varvalue="value"/>
				</div>
				<div class="form-group" style="text-align: left">
					<img  id="vericode" src="/captcha/entry.func" onclick="this.src=this.src+'?'+Math.random()"></img>
				</div>
				<div class="form-group" style="text-align: left">
					<input class="form login" type="checkbox" varname="keeplogin" varvalue="checked"/> 两周免登录
				</div>
			</form>
			<div class="well well-sm validfailinfo alert alert-warning" style="display:none;"></div>
			<button class="btn btn-primary block full-width m-b">登录</button>
			<a class="text-muted text-center">没有账户?点击注册</a>
		</div>
	</div>
</div>