<div class="wrapper">
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable" dataspace="caiwutongji"></div>
    <div view-com="pdtable" dataspace="tuikuanchuli"></div>
</div></div>
</div>



<script>
    sm.view.aftercominit("pdtable>caiwutongji",function(){
        this.title="财务统计：";
        this.onrefresh=function(){
        };
        this.onsave=function(table){

        };
        this.table.onclickcell=function(td){
        };

    });
    sm.view.aftercominit("pdtable>tuikuanchuli",function(){
        this.title="退款、订单管理：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
</script>