
<div class="wrapper">
<div class="container-fluid">
<div class="row">
<div class="col-sm-6">
    <div class="widget style1 yellow-bg">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa fa-dollar fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right btn btn-primary"  role="button" data-toggle="collapse" href="#saldetail" aria-expanded="false" aria-controls="saldetail">
                <span> 今日销售额 </span>
                <h2 class="font-bold">1112</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="widget style1 yellow-bg">
        <div class="row">
            <div class="col-xs-4">
                <i class="fa fa-user-plus fa-5x"></i>
            </div>
            <div class="col-xs-8 text-right btn btn-primary"  role="button" data-toggle="collapse" href="#newuserdetail" aria-expanded="false" aria-controls="newuserdetail">
                <span> 今日新增会员 </span>
                <h2 class="font-bold">1112</h2>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable" dataspace="xiaoshoue"></div>
    <div view-com="pdtable" dataspace="xinzenghuiyuan"></div>
</div></div>
</div>
</div>





<script>
    sm.view.aftercominit("pdtable>xiaoshoue",function(){
        this.title="今日销售额统计：";
        this.onrefresh=function(){
        };
        this.onsave=function(table){

        };
        this.table.onclickcell=function(td){
        };

    });
    sm.view.aftercominit("pdtable>xinzenghuiyuan",function(){
        this.title="今日新增会员统计：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
</script>