<div class="wrapper">
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable" dataspace="yonghuliebiao"></div>
    <div view-com="pdtable" dataspace="yonghuxinxi"></div>
    <div view-com="pdtable" dataspace="huiyuanxinxi"></div>
</div></div>
</div>



<script>
    sm.view.aftercominit("pdtable>yonghuliebiao",function(){
        this.title="用户列表：";
        this.data({
            
        }).method({
            db:function(){
                return sm.db.db("more").tb("user");
            },
        });
        var me=this;
        this.onrefresh=function(newaso=false,ci=1,ps=20){
            this.db().list({page:Math.ceil(ci/ps),length:ps}).then(function(d){
                me.table.clear().write(d.data);
                me.table.define(d.title);
                console.log(d.paging);
                me.table.paging.setup(d.paging[1]*d.paging[2],d.paging[0],d.paging[2]);
                me.table.setkey(0);
            });
        };
        this.onsave=function(table){

        };
        this.table.onaddrow=function(){
            var mee=this;
            var nr=this.nrm();
            sm.dialog.modalform(nr,function(rowdata){
                var contents=$$.dbaddstr(rowdata);
                console.log(contents);
                me.db().add({contents:contents}).then(function(d){
                    mee.write(rowdata);
                },function(i){
                    console.log("error:"+i);
                });
            });
        };
        this.table.ondelrow=function(td){
            var k=me.table.getkey(td);
            var mee=this;
            me.db().delete({id:k.value}).then(function(d){
                mee.dodelrow(td);
            });
        };
        this.table.oneditrow=function(td){
            var mee=this;
            var k=me.table.getkey(td);
            var or=this.rowobj(td);
            sm.dialog.modalform(or,function(rowdata){
                var t=$$.dbupdstr(or,rowdata);
                console.log("------"+t);
                me.db().update({witch:"basic",contents:t,id:k.value}).then(function(d){
                    mee.doupdrow(td,rowdata);
                },function(i){
                    console.log("error:"+i);
                });
                
            });
        };
        this.table.onclickcell=function(td){
            var k=me.table.getkey(td);
            me.db().detail({id:k.value,witch:"info"}).then(function(d){
                console.log(d);
                $yonghuxinxi.table.clear().write(d.data);
                $yonghuxinxi.table.define(d.title);
            },function(i){
                alert(i);
            });
            me.db().detail({id:k.value,witch:"member"}).then(function(d){
                console.log(d);
                $huiyuanxinxi.table.clear().write(d.data);
                $huiyuanxinxi.table.define(d.title);
            },function(i){
                alert(i);
            });
        };
        this.table.paging.onchange=function(ci,ps){
            me.onrefresh(false,ci,ps);
        };
        me.table.paging.show=true;
        this.onrefresh();
    });
    sm.view.aftercominit("pdtable>yonghuxinxi",function(){
        this.title="用户信息：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
    sm.view.aftercominit("pdtable>huiyuanxinxi",function(){
        this.title="会员信息：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
</script>