<div class="wrapper">
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable"></div>
</div></div>
</div>

<script>
    sm.view.aftercominit("pdtable",function(){
        this.title="首页轮播图设置";
        this.onrefresh=function(){
            var me=this;
            sm.ajax.smurl("getlunbo").smpost().then(function(d){
                console.log(d);//正常这里应该是一个JSON字符串
                //console.log(JSON.parse(sm.data.smdata(d).vardata()));
                //var td=JSON.parse(sm.data.smdata(d).vardata())
                me.table.clear().write(d);
            });
        };
        this.onsave=function(table){
            sm.ajax.smurl("writelunbo").smpost({value:table.datas(false,true)}).then(function(d){
                console.log(d);//正常这里应该是一个JSON字符串
            });
        };
        this.onrefresh();
    });
</script>