<div class="wrapper">
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable" dataspace="lanmu"></div>
    <div view-com="pdtable" dataspace="liebiao"></div>
</div></div>
</div>

<script>
    sm.view.aftercominit("pdtable>lanmu",function(){
        this.table.nrm({
            "sn": 0,
            "name":"栏目名称",
            "type":"sale or rent",
            "more":"网址",
            "items":[{src:"",href:"",unitprice:"",finalprice:"",name:"xx衣服"}]
        });
        this.title="栏目设置";
        this.onrefresh=function(){
            var me=this;
            sm.dialog.loading();
            sm.ajax.smurl("gethomelist").smpost().then(function(d){
                //var td=JSON.parse(sm.data.smdata(d).vardata());
                me.table.clear("data").write(d);
                sm.dialog.loading(false);
                sm.dialog.msg("刷新成功！");
            });
        };
        this.onsave=function(table){
            sm.dialog.loading();
            sm.ajax.smurl("writehomelist").smpost({value:this.table.datas(false,true)}).then(function(d){
                sm.dialog.loading(false);
                sm.dialog.msg("保存成功！");
            });
        };
        this.table.onclickcell=function(td){
            $liebiao.onrefresh(this.rowobj(td));
        };
        this.onrefresh();
    });
    sm.view.aftercominit("pdtable>liebiao",function(){
        this.title="栏目详情";
        this.data({
            nrm:{src:"",href:"",unitprice:"",finalprice:"",name:"xx衣服"},
        });
        this._asolanmu=false;
        this.onrefresh=function(newaso=false){
            newaso&&(this._asolanmu=newaso);
            this.table.clear().write(this._asolanmu.items);
        };
        this.onsave=function(table){
            this._asolanmu.items=table.datas(false);
        };

    });
</script>