<div class="wrapper">
<div class="row"><div class="col-sm-12">
    <div view-com="pdtable" dataspace="caiwutongji"></div>
    <div view-com="pdtable" dataspace="huiyuantongji"></div>
    <div view-com="pdtable" dataspace="shangpintongji"></div>
    <div view-com="pdtable" dataspace="dingdantongji"></div>
</div></div>
</div>



<script>
    sm.view.aftercominit("pdtable>caiwutongji",function(){
        this.title="财务统计：";
        this.onrefresh=function(){
        };
        this.onsave=function(table){

        };
        this.table.onclickcell=function(td){
        };

    });
    sm.view.aftercominit("pdtable>huiyuantongji",function(){
        this.title="会员统计：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
        sm.view.aftercominit("pdtable>shangpintongji",function(){
        this.title="商品统计：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
        sm.view.aftercominit("pdtable>dingdantongji",function(){
        this.title="订单统计：";
        this.data({
            
        });

        this.onrefresh=function(newaso=false){

        };
        this.onsave=function(table){

        };

    });
</script>