<style>
    .ibox-tools a {
        margin-right: 7px;
    }

    .ml10:nth-child(2) {
        margin-left: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th, table td {
        border: 1px solid #e6e6e6;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    #editTab td input {
        width: 112px;
        text-align: center;
        border: none;
    }

</style>
<div class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>店铺</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" id="countTabBtn">
                            <i class="fa fa-chevron-up countTabIcon"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="countTabWrap">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" id="addBtn">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button type="button" class="btn btn-primary" style="margin-left: 10px" id="delBtn">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </div>
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active"><a href="#introduce" data-toggle="tab">店铺介绍</a></li>
                        <li><a href="#mobile" data-toggle="tab">400电话</a></li>
                        <li><a href="#about" data-toggle="tab">关于我们</a></li>
                        <li><a href="#other" data-toggle="tab">其他</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="introduce">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>编辑/保存为html代码示例</h5>
                                            <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()"
                                                    type="button">编辑
                                            </button>
                                            <button id="save" class="btn btn-primary  btn-xs" onclick="save()"
                                                    type="button">保存
                                            </button>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown"
                                                   href="form_editors.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="form_editors.html#">选项1</a>
                                                    </li>
                                                    <li><a href="form_editors.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" id="eg">

                                            <div class="click2edit wrapper">
                                                <h3>你好</h3>
                                                <p>
                                                    这里编辑店铺介绍。
                                                </p>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="mobile">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>编辑/保存为html代码示例</h5>
                                            <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()"
                                                    type="button">编辑
                                            </button>
                                            <button id="save" class="btn btn-primary  btn-xs" onclick="save()"
                                                    type="button">保存
                                            </button>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown"
                                                   href="form_editors.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="form_editors.html#">选项1</a>
                                                    </li>
                                                    <li><a href="form_editors.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" id="eg">

                                            <div class="click2edit wrapper">
                                                <h3>你好 </h3>
                                                <p>
                                                    这里编辑400电话。
                                                </p>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="about">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>编辑/保存为html代码示例</h5>
                                            <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()"
                                                    type="button">编辑
                                            </button>
                                            <button id="save" class="btn btn-primary  btn-xs" onclick="save()"
                                                    type="button">保存
                                            </button>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown"
                                                   href="form_editors.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="form_editors.html#">选项1</a>
                                                    </li>
                                                    <li><a href="form_editors.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" id="eg">

                                            <div class="click2edit wrapper">
                                                <h3>你好 </h3>
                                                <p>
                                                    这里编辑关于我们。
                                                </p>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="other">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>编辑/保存为html代码示例</h5>
                                            <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()"
                                                    type="button">编辑
                                            </button>
                                            <button id="save" class="btn btn-primary  btn-xs" onclick="save()"
                                                    type="button">保存
                                            </button>
                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown"
                                                   href="form_editors.html#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="form_editors.html#">选项1</a>
                                                    </li>
                                                    <li><a href="form_editors.html#">选项2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content" id="eg">

                                            <div class="click2edit wrapper">
                                                <h3>你好 </h3>
                                                <p>
                                                    这里编辑其他内容。
                                                </p>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/plugins/summernote/summernote.min.js"></script>
<script src="js/plugins/summernote/summernote-zh-CN.js"></script>
<script>
    $(document).ready(function () {

        $('.summernote').summernote({
            lang: 'zh-CN'
        });

    });
    var edit = function () {
        $("#eg").addClass("no-padding");
        $('.click2edit').summernote({
            lang: 'zh-CN',
            focus: true
        });
    };
    var save = function () {
        $("#eg").removeClass("no-padding");
        var aHTML = $('.click2edit').code();
        $('.click2edit').destroy();
    };
</script>