/* CSS Document */

div.avmenue {
}

div.avmenue a + .subdiv{
	display:none;
}
div.avmenue a.showsub + .subdiv{
	display:block;
}
div.avmenue a.l1 {
	float:left;
	clear:left;
	padding-left:20px;
	background-color:#666666;
	color:#fff;
	width:100%;
	text-align:left;
}

div.avmenue a.pass {
	background-image:url(res/expand_b.gif);
	background-repeat:no-repeat;
        font-weight: bold; 
}

div.avmenue a.select {
	background-image:url(res/hide_b.gif);
	background-repeat:no-repeat;
        font-weight: bold; 
}

div.avmenue a.l2 {
	float:left;
	clear:left;
	padding-left:30px;
        background-position:10px center;
	background-color:#ccc;
	width:100%;
	text-align:left;
}

div.avmenue a.l3 {
	float:left;
	clear:left;
	padding-left:40px;
        background-position:20px center;
	background-color:#fff;
	width:100%;
	text-align:left;
}


div.avmenue a {
	cursor:pointer;
	white-space:nowrap; /*force no wrap*/ 
	overflow:hidden; /*auto hide the overflow text */
	text-overflow: ellipsis; /*add ... when hide some text*/ 
	-o-text-overflow:ellipsis; /*suitale for opera browser*/ 

}