<div view-com="slide" class="screenwindow"></div>
<style>
    .slide {
        position: relative;
    }
    .slide *{
        transition: all 1s;
        position:absolute;
        color: #fff;
        /*left:-100%;*/
        opacity: 0;
        height: 0px;
        width: 0px;
        
    }
    .slide p{
        font-size: 34px;
    }
    .slide .header{
        border-radius: 5px;
        left:10%;
        top:10%;
        background-image: url(res/imgs/index/logo.jpg);
        background-size: cover;

    }
    .slide .footer{
        /*width: 320px;
        height: 200px;*/
        border-radius: 5px;
        /*left:50px;*/
        bottom: 20%;
        background-image: url(res/imgs/index/download.png);
        background-size: cover;
    }
</style>
<script>
    sm.view.aftercominit("slide",function(){
        this.add([
            {img:"res/imgs/index/1.jpg",h1:"",header:"",footer:"",p:""},
            {img:"res/imgs/index/2.jpg",h1:"",header:"",footer:"",p:""},
            {img:"res/imgs/index/3.jpg",h1:"",header:"",footer:"",p:""},
            {img:"res/imgs/index/4.jpg",h1:"",header:"",footer:"",p:""},
        ]);
        this.onleaveslide=function(n){
           
            if(true){
                var t=this.slideel(n);
                console.log(t);
                t.querySelector(".header").style.opacity="0";
                t.querySelector(".header").style.width="0px";
                t.querySelector(".header").style.height="0px";
                
                t.querySelector(".footer").style.opacity="0";
                t.querySelector(".footer").style.width="0";
                t.querySelector(".footer").style.height="0";
                t.querySelector(".footer").style.left="-100%";
            }
        };
        this.onenterslide=function(n){
            if(true){
                var t=this.slideel(n);
                console.log(t);
                t.querySelector(".header").style.opacity="100";
                t.querySelector(".header").style.width="100px";
                t.querySelector(".header").style.height="100px";
                setTimeout(function(){
                    t.querySelector(".footer").style.opacity="100";
                    t.querySelector(".footer").style.width="320px";
                    t.querySelector(".footer").style.height="200px";
                    t.querySelector(".footer").style.left="20%";
                },1000);
                
            }
        };

    });
</script>
