<div class="middle-box text-center loginscreen  animated fadeInDown" com:="login" dataspace='login' oncominit="true">
    <div>
        <div>
            
            <img src='/res/imgs/index/logo.jpg' style="border-radius: 5px;"/>
        </div>
        <div class="m-t" role="form" >
            <div class="form-group">
                <input type="email" class="form-control" get:value="uname"  placeholder="User Name" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" get:value="upass" placeholder="Password" required="">
            </div>
            <p class="bg-danger" set:display="($error==''?'':'1')">{{error}}</p>
            <button class="btn btn-primary block full-width m-b submmit" >管理员登录</button>
        </div>
    </div>
</div>

<script>

sm.view.oncominit("login",function(el){
    
    sm.datavalidation.define({
        uname:/@/,
        upass:/\w{6,}/,
    });
    
    
    this.data({
        error:"",
        uname:"",
        upass:"",
    }).method({
        onlogin:function(uname,upass){
            var me=this;
            me.error="";
            sm.datavalidation.check({uname:uname,upass:upass}).success(function(){
                var mee=this;
                sm.user.login(uname,upass,"0000",true,function(d){
                    sm.route.to("#manage/home.html");
                },function(i){
                    me.error="Login fail:"+i;
                });
            }).error(function(){
                me.error="Data format incorrect："+this.stat().info;
            });

            
        },
    }).watchdom({
        "button.submmit":function(){
            this.onlogin(this.uname,this.upass);
        },
    });
});


</script>
