<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            
            <img src='/res/imgs/index/logo.jpg' style="border-radius: 5px;"/>
        </div>
        <div class="m-t" role="form" >
            <div class="form-group">
                <input type="email" class="form-control" get:value="login.input.uname"  placeholder="用户名" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" get:value="login.input.upass" placeholder="密码" required="">
            </div>
            <button class="btn btn-primary block full-width m-b" >管理员登录</button>
        </div>
    </div>
</div>

<script>
    console.log("loaded");
sm.view.onloadinit(function(){
    console.log("enter onloadinit");
    console.log($common);
    $common.watchdom({
        "text:管理员登录":function(){
            sm.user.login(this.login.input.uname,this.login.input.upass,"0000",true,function(d){
                //alert("登录成功:"+JSON.stringify(d));
                sm.route.to("#manage/home.html");
            },function(i){
                alert("登录失败："+i);
            });
        },
    });
});
</script>
