<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <ol class="breadcrumb  minimalize-styl-2 btn-lg">
            <li for:="(i,k,v) in layout.curpath"><a href="javascript:">{{v}}</a></li>
        </ol>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                <i class="fa fa-user"></i>请登录<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">用户信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">退出登录</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                <i class="fa fa-language"></i></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">中文</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                <i class="fa fa-bars"></i></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">帮助</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </li>
    </ul>
</nav>