ul.tree{
    list-style-type:none;overflow:scroll;
    border:none;padding: 0px;margin: 0px;padding:0px;margin:0px;border-bottom:1px solid #ccc;background-color:#ededed;
}

ul.tree li{height: 18px;}
ul.tree a {
    float: left;
    font-size: 14px;line-height: 18px;font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif;
}
ul.tree a.selected{background-color: #cccccc;}
ul.tree a.icon {width:18px;height: 18px;background-image:url('res/b.png');}
ul.tree a.icon.pass {width:18px;height: 18px;background-image:url('res/p.png');}
ul.tree a.icon.folder{background-image:url('res/folder.png');}
ul.tree a.icon.file{background-image:url('res/file.png');}
ul.tree a.icon.project{background-image:url('res/project.png');}
ul.tree a.icon.project.open {background-image:url('res/sof.png');}
ul.tree a.icon.project.close {background-image:url('res/scf.png');}
ul.tree a.icon.open {background-image:url('res/mof.png');}
ul.tree a.icon.close {background-image:url('res/mcf.png');}
ul.tree a.icon.none {background-image:url('res/mf.png');}
ul.tree a.icon.open.bottom {background-image:url('res/bof.png');}
ul.tree a.icon.close.bottom {background-image:url('res/bcf.png');}
ul.tree a.icon.none.bottom {background-image:url('res/ef.png');}
