/*
用于用表格的形式显示和编辑数据，必须Javascript配合
div.tableview
    div.page  //用于撑大滚动条
        table

*/
div.tableview {
    overflow:scroll;
    margin:0px;padding:0px;
    width:400px;width:100%;height:400px;height:100%;
}
div.tableview div.page {
    margin:0px;padding:0px;border:none;background-color:#fff;
    overflow:hidden;
    min-width:5000px;min-height:3000px;
}
div.tableview table{border:1px #ccc solid;border-spacing:0;table-layout: fixed;}
div.tableview tr{border:none;position:relative;}
div.tableview tr.rowtitle{background-color:#ddd;font-weight:600;}
div.tableview tr.changed{}
div.tableview tr.changed.deleted{text-decoration:line-through;background-color:#6f6;}
div.tableview tr.changed.newadded{background-color:#6f6;}
div.tableview tr td{
    padding:0;border:1px #ccc dotted;
    max-width:600px;min-width:100px;height:20px; min-height:20px;
    vertical-align:middle;font-size:14px;word-break: break-all;word-wrap:break-word; 
}
div.tableview .hide{display:none;}
div.tableview .PRI{color:#F00;}
div.tableview tr.data td.noeditable{background-color:#ddd;}
div.tableview tr.data td.noeditable:hover{background-color:#ddd;}
div.tableview tr.data td.changed{background-color:#6F6;}
div.tableview tr.data td.selected{border:1px #000 solid;background-color:#eee;}
div.tableview tr.selected{background-color:#eaeaea;}
div.tableview tr.data td:hover{background-color:#ccc;}
div.tableview tr.data.listitem:hover {background-color:#ccc;}
div.tableview tr.data td.selected:hover {cursor:text;}