<div id="wrapper" layout="hadmin">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse" container="left">
                <!--左侧导航树插槽-->
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom" container="toolbar">
            <!--工具栏插槽-->
        </div>
        <div class="row J_mainContent" id="content-main" container="page">
            <!--页面插槽-->
        </div>
    </div>
    <!--右侧部分结束-->
</div>
