
<div class="flex-container">
    <div class="block" onclick="location.hash='notes.html'">记事本</div>
    <div class="block" onclick="location.hash='editor.html'">编辑器</div>
    <div class="block" onclick="location.hash='task.html'">任务</div><!-- comment -->
    <div class="block disabled" onclick="location.hash='diary.html'">日记</div>
    <div class="block disabled" onclick="location.hash='diary.html'">加油站</div>
    <div class="block disabled" onclick="location.hash='diary.html'">云资料</div>
    <div class="block disabled" onclick="location.hash='diary.html'">脑图</div>
    <div class="block disabled" onclick="location.hash='diary.html'">数据库</div>
    <div class="block disabled" onclick="location.hash='diary.html'">调试器</div>
    <!-- 
    <div class="block" onclick=""></div>
    <div class="block" onclick=""></div>
    <div class="block" onclick=""></div>
    <div class="block" onclick=""></div>comment -->
</div>