<div class="flex-container">
    <div class="block" onclick="location.hash='notes.html'">记事本</div>
    <div class="block" onclick="location.hash='editor.html'">编辑器</div>
    <div class="block" onclick="location.hash='task.html'">任务</div><!-- comment -->
    <div class="block " onclick="location.hash='diary.html'">日记</div>
    <div class="block disabled" onclick="">加油站</div>
    <div class="block disabled" onclick="">云资料</div>
    <div class="block disabled" onclick="">脑图</div>
    <div class="block disabled" onclick="">数据库</div>
    <div class="block disabled" onclick="">调试器</div>
</div>