<div class="columns">
    <div class="column" style="min-width:20rem;min-height: 16rem;">
        <div class="flex-container control">
            <div style="flex-grow: 1;">
                <input class="linput" placeholder="请输入关键词.." id="keyword" style="width:100%;box-sizing: border-box;"/>
            </div>
            <div style="flex:none;">
                <button onclick="readlist();" class="" style="margin-left:0.5rem">查询</button>
                <button onclick="savecontent();" class="">保存</button>
            </div>
        </div>
        <table id="notelist">
           <tr set:hide="{{$notelist}}"><td>请输入关键字进行搜索！！！</td></tr>
           <tr for:="(_i,_k,_v) in notelist" class="noteitem" rmenu="删除任务" set:display="{{$notelist}}" set:noteid="{{$_v.id}}"><td>{{$_v.title}}</td></tr>
       </table>
    </div>
    <div class="column" style="min-width:20rem;min-height: 16rem;">
        <textarea rows="40" id="contentediter" style="width:100%"></textarea>
    </div>
</div>



<style>
</style>
<script>
    function readlist(){
        var keyword=document.getElementById("keyword").value;
        sm.db.db("caiyankun").tb("ebox").list({filterinfo:keyword}).then(function(d){
            console.log(d);
            $common.notelist=d.data;
            //$table.clear().write(d.data);
            //document.getElementById("diaryediter").value=d.data[4][1];
        });
    }
    function deleteitem(){
        
        sm.db.db("caiyankun").tb("ebox").delete({id:$table.getkey($table.focustd()).value}).then(function(d){
            console.log(d);
            readlist();
            //document.getElementById("diaryediter").value=d.data[4][1];
        });
    }
    function savecontent(){
        var contents=document.getElementById("contentediter").value;
        var contentarr=contents.split("\n|=====|\n");
        if(contentarr.length!==2){
            var realcontent=contents;
            var fields=["0","未命名","未命名"];
        } else {
            var fields=contentarr[0].split("-");
            if(fields.length==1) {fields=[0,'未命名'].concat(fields);}
            if(fields.length==2) {fields=[0].concat(fields);}
            var realcontent=contentarr[1];
        }
        sm.db.db("caiyankun").tb("ebox").update({id:fields[0],contents:'domain="'+fields[1]+'",title="'+fields[2]+'",content="'+realcontent+'"'}).then(function(d){
            sm.dialog.msg("已保存！");
            console.log(d);
        },function(d){
            sm.dialog.msg("保存出错："+d);
        });
        console.log(contents.split("\n|=====|\n")[0]);
        //console.log(contents.split("\r\n|=====|\r\n")[1]);
        

    }
    sm.document.ready(function(){
        sm.menu.initrmenu();
        sm.menu.addclickevent({
            "tr.noteitem":function(ownerel,el,text){
                var theid=ownerel.getAttribute("noteid");
                sm.db.db("caiyankun").tb("ebox").delete({id:theid}).then(function(d){
                    readlist();
                    //document.getElementById("diaryediter").value=d.data[4][1];
                });
            },
        });
        $common.watchdom({
            ".noteitem@click":function(e,el,ds){
                var theid=el.getAttribute("noteid");
                sm.db.db("caiyankun").tb("ebox").detail({id:theid}).then(function(d){
                    console.log(d);
                    document.getElementById("contentediter").value=d.data[0][1]+"-"+d.data[4][1]+"-"+d.data[6][1]+"\n|=====|\n"+d.data[7][1];
                });
            },
        });
    });

    
    
</script>
