<div class="toolbar">
   <button>按钮</button>
   <button>长按钮按钮</button>
   <button class="dropdown">TTTT</button>   
   <div class="buttons">
      <button>按钮</button>
   <button>长按钮按钮</button>
   <button>TTTT</button>  
       
   </div>
   <input type="text"/>
</div>
<button class="dropdown">按钮</button>
<br>
<div class="toolbar">
    <div class="buttons" >
        <button class="icon" ></button>
        <button class="icon" ></button>
        <button >左1钮</button>
        <input class="midinput" />
        <button class="">右1纽</button>  
        <button class="dropdown">右tttttt纽<div class="dropdown-menu" >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item hr" href="#"></a>
            <a class="dropdown-item" href="#">Something else here</a>
            <a class="dropdown-item" href="#">怎么回事呢</a>
        </div></button>  
    </div>
</div>
<table>
    <tr><th style="width: 0.5rem"></th><th>条目</th><th style="width: 0.5rem"></th></tr>
    <tr><td><input type="checkbox" style="margin: 0;padding: 0;height: 1rem"/></td><td>111</td><td>111</td></tr>
    <tr><td>111</td><td>111</td><td>111</td></tr>
</table>



