


<div class="flex-container" style="min-height: 40rem;width: 100%">
    <div style="width: 30rem;heigh:10rem;margin: auto;border: 1px solid #999;border-radius: 0.5rem;padding: 0.5rem;">
        <div class="form " id="taskform">
            <label style="text-align: left">用户</label><input get:value="user.uname"/>
            <label style="text-align: left">密码</label><input type="password" get:value="user.upass"/>
            <div class="clearboth"></div>
            <button class="btn_login" style="float: right;margin-right: 1rem">登陆</button>
        </div>
    </div>
</div>



<script>
sm.document.ready(function(){
    sm.view.init().then(function(){
        $common.watchdom({
            ".btn_login":function(e,el,ds){
                sm.ajax.url("user/simulatelogin.func").smpost({uname:$common.user.uname,upass:$common.user.upass}).then(function(d){
                    //alert(d);
                    if(location.hash==="#user.html"){
                        sm.document.reload("#index.html");
                    } else {
                        sm.document.reload();
                    }
                },function(d){
                    alert(d);
                });
            },
        });
    });
});
</script>